<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Angular. Тестовое задание</h1>
        <p class="lead text-muted">Реализовать CRUD Товара</p>
        <p>
            <a class="btn btn-primary my-2"
                (click)="onNavigateToCreateProductView()">Создать товар</a>
        </p>
    </div>
</section>
<section class="catalog bg-light">
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type"
            [dismissOnTimeout]="alert.timeout"
            [dismissible]="true">{{ alert.msg }}</alert>
    </div>
    <div class="row">
        <div class="col-md-4"
            *ngFor="let productItem of products">
            <app-product-card [product]="productItem"></app-product-card>
        </div>
    </div>
</section>